extends layouts/main-layout.pug

block content
    if !profileUser
        span.errorMessage check the url you are trying to access
    else
        .profileHeaderContainer  
            .coverPhotoContainer

                .userImageContainer 
                    img(src=profileUser.profilePic, alt="User profile image")
        
            .userDetailsContainer
                span.displayName #{profileUser.firstName} #{profileUser.lastName} 
                span.displayEmail #{profileUser.email} 
                span.username @#{profileUser.username} 

                .followersContainer 
                    a(href=`/profile/${profileUser.username}/following`)
                        span.value #{0}
                        span Following 
                    a(href= `/profile/${profileUser.username}/followers`)
                        span.value #{0}
                        span Followers
                .uploadContainer
                    form(action='/subir', method='post', enctype='multipart/form-data')
                        input(type='file', name='archivo' id='file-upload')
                        button(type='submit') Enviar




    

block scripts   
    script(src="profile.js") 
    //script(src="/app.js")
